Repository mehrdadh/iCalendar: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, test-parser

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Chrome Extension
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fix trailing whitespace
      - id: trailing-whitespace
        exclude: '\.md$'

      # Ensure files end with newline
      - id: end-of-file-fixer
        exclude: '\.min\.(js|css)$'

      # Check for files that would conflict in case-insensitive filesystems
      - id: check-case-conflict

      # Check for merge conflicts
      - id: check-merge-conflict

      # Check YAML files
      - id: check-yaml
        exclude: '\.github/.*'

      # Check JSON files
      - id: check-json
        files: '\.(json)$'

      # Prevent large files from being committed
      - id: check-added-large-files
        args: ['--maxkb=5000']

      # Check for private keys
      - id: detect-private-key

      # Fix mixed line endings
      - id: mixed-line-ending
        args: ['--fix=lf']

      # Check for broken symlinks
      - id: check-symlinks

      # Check that shell scripts are executable
      - id: check-executables-have-shebangs

  # JavaScript/JSON formatting with Prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [javascript, json, markdown, html, css]
        exclude: '(\.min\.(js|css)|releases/|node_modules/)'
        additional_dependencies:
          - prettier@3.0.0

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: ['--fix']
        exclude: '(node_modules/|\.github/)'

  # Spell checking (optional - you can disable if too strict)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=crate,aci,ans,ba,nd,te,uint
          - --skip="*.json,*.lock,*.min.js,*.min.css,releases/*"
        exclude: '(releases/|node_modules/|\.git/)'

  # Validate manifest.json for Chrome extensions
  - repo: local
    hooks:
      - id: validate-manifest
        name: Validate Chrome Extension Manifest
        entry: python3 -c "import json, sys; json.load(open('manifest.json'))"
        language: system
        files: 'manifest\.json$'
        pass_filenames: false

  # Ensure test files are valid
  - repo: local
    hooks:
      - id: test-parser
        name: Run Parser Tests
        entry: node tests/test_parser.js
        language: system
        pass_filenames: false
        files: '(popup\.js|background\.js|tests/test_parser\.js|tests/data/.*\.(ics|vcs))$'

# Configuration
default_language_version:
  python: python3
  node: system

# Run on all files or just staged
default_stages: [pre-commit]

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '2.20.0'

add github workflow
  .github/workflows/test-and-release.yml
Due: none

update readme
  README.md
Due: none

Create CNAME
  docs/CNAME
Due: none

add website
  .nojekyll
  docs/CNAME
  docs/index.html
  manifest.json
Due: validate-manifest

fix logo
  docs/index.html
  docs/logo_128x128.png
Due: none

restructure
  docs/iCalendar/index.html
  docs/iCalendar/logo_128x128.png
  docs/iCalendar/privacy-policy.html
Due: none

redirect
  docs/index.html
Due: none

redirect
  docs/iCalendar/privacy-policy.html
  docs/index.html
Due: none

rework docs
  docs/iCalendar/index.html
  docs/iCalendar/privacy-policy/index.html
  docs/index.html
Due: none

update to 1.0.1
  manifest.json
Due: validate-manifest

add terms of service
  docs/iCalendar/index.html
  docs/iCalendar/privacy-policy/index.html
  docs/iCalendar/terms-of-service/index.html
Due: none

improve screen shot helper
  scripts/screenshot-helper.html
  scripts/screenshot/README.md
  scripts/screenshot/screenshot-helper.html
Due: none

add more test cases
  .pre-commit-config.yaml
  tests/data/test_corrupted_empty.ics
  tests/data/test_corrupted_empty.vcs
  tests/data/test_corrupted_invalid_dates.ics
  tests/data/test_corrupted_invalid_dates.vcs
  tests/data/test_corrupted_invalid_version.ics
  tests/data/test_corrupted_malformed_properties.ics
  tests/data/test_corrupted_malformed_properties.vcs
  tests/data/test_corrupted_mismatched_tags.ics
  tests/data/test_corrupted_missing_begin.ics
  tests/data/test_corrupted_missing_begin.vcs
  tests/data/test_corrupted_missing_end.ics
  tests/data/test_corrupted_missing_end.vcs
  tests/data/test_corrupted_missing_fields.ics
  tests/data/test_corrupted_missing_fields.vcs
  tests/data/test_corrupted_nested_error.ics
  tests/data/test_corrupted_truncated.ics
  tests/data/test_corrupted_truncated.vcs
  tests/data/test_corrupted_wrong_format.vcs
Due: test-parser

add more tests, refactor tests
  parser.js
  popup.html
  popup.js
  tests/README.md
  tests/test_parser.html
  tests/test_parser.js
Due: test-parser

fix errors
  background.js
  popup.js
Due: test-parser

fix reauthorizartion atempt
  background.js
  popup.js
Due: test-parser

fix erro show placement
  popup.js
Due: test-parser

fix unnecessary warns and errors
  .pre-commit-config.yaml
  background.js
  parser.js
  popup.js
Due: test-parser

fix tests
  tests/test_parser.js
Due: test-parser

improve
  scripts/screenshot/screenshot-helper.html
Due: none

fix screenshot
  popup.js
  scripts/screenshot/screenshot-helper.html
Due: test-parser

fix dropdown in screenshot
  scripts/screenshot/screenshot-helper.html
Due: none

fix sized
  styles.css
Due: none

fix size
  scripts/screenshot/screenshot-helper.html
Due: none

add screenshots
  images/screenshots/icalendar-screenshot-2025-10-19T23-47-59.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-06.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-11.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-15.png
  images/screenshots/screenshot_1.png
Due: none

fix artifact name
  .github/workflows/test-and-release.yml
Due: none

bump version
  manifest.json
Due: validate-manifest

add git tag script
  scripts/build_release.sh
  scripts/create_git_tag.sh
Due: none

fix zip issue
  .github/workflows/test-and-release.yml
Due: none

add promo images
  images/screenshots/icalendar-promo-banner-2025-10-20T03-18-39.png
  images/screenshots/icalendar-promo-tile-2025-10-20T03-17-36.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-47-59.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-06.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-11.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-15.png
  scripts/screenshot/screenshot-helper.html
Due: none

fix resolution size
  scripts/screenshot/screenshot-helper.html
Due: none

update images and refactor website css
  docs/iCalendar/index.html
  docs/iCalendar/logo_128x128.png
  docs/iCalendar/logo_512x512.png
  docs/iCalendar/privacy-policy/index.html
  docs/iCalendar/styles/common.css
  docs/iCalendar/styles/landing.css
  docs/iCalendar/styles/legal.css
  docs/iCalendar/styles/privacy.css
  docs/iCalendar/styles/terms.css
  docs/iCalendar/terms-of-service/index.html
  images/all.png
  images/logo.png
  images/logo_1.png
  images/logo_120x120.png
  images/logo_128x128.png
  images/logo_16x16.png
  images/logo_256x256.png
  images/logo_32x32.png
  images/logo_48x48.png
  images/logo_64x64.png
  images/logo_high.png
  images/logo_large.png
  manifest.json
  scripts/build_release.sh
Due: validate-manifest

refactor website
  docs/iCalendar/index.html
  docs/iCalendar/privacy-policy/index.html
  docs/iCalendar/scripts/footer.js
  docs/iCalendar/scripts/header.js
  docs/iCalendar/styles/common.css
  docs/iCalendar/styles/landing.css
  docs/iCalendar/styles/legal.css
  docs/iCalendar/terms-of-service/index.html
Due: none

bump version
  images/screenshots/icalendar-promo-banner-2025-10-20T03-18-39.png
  images/screenshots/icalendar-promo-banner-2025-10-22T15-26-40.png
  images/screenshots/icalendar-promo-tile-2025-10-20T03-17-36.png
  images/screenshots/icalendar-promo-tile-2025-10-22T15-26-36.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-47-59.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-06.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-11.png
  images/screenshots/icalendar-screenshot-2025-10-19T23-48-15.png
  images/screenshots/icalendar-screenshot-2025-10-22T15-25-22.png
  images/screenshots/icalendar-screenshot-2025-10-22T15-25-40.png
  images/screenshots/icalendar-screenshot-2025-10-22T15-25-47.png
  images/screenshots/icalendar-screenshot-2025-10-22T15-25-56.png
  manifest.json
Due: validate-manifest

redirect home to calendar page
  docs/index.html
Due: none

reduce permission access
  docs/iCalendar/privacy-policy/index.html
  manifest.json
Due: validate-manifest

bump version
  .pre-commit-config.yaml
  docs/CHROME_STORE_DESCRIPTION.md
  manifest.json
Due: validate-manifest

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

add sign out
  background.js
  popup.html
  popup.js
  styles.css
Due: test-parser

change access to calendar optional
  background.js
  popup.js
Due: test-parser
