Repository mehrdadh/iCalendar: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-manifest, test-parser

validate-manifest:
  name: Validate Chrome Extension Manifest
  entry: python3 -c "import json, sys; json.load(open('manifest.json'))"
  language: system
  pass_filenames: false

test-parser:
  name: Run Parser Tests
  entry: node tests/test_parser.js
  language: system
  pass_filenames: false

add donate buttons
  options.html
  styles.css
Due: none

refactor styles
  options.css
  options.html
  popup.html
  styles.css
Due: none

reduce permission access
  docs/iCalendar/privacy-policy/index.html
  manifest.json
Due: validate-manifest

init dark mode
  options.html
  popup.html
  styles.css
  theme.js
Due: none

fix escape key
  options.js
  styles.css
Due: none

improve sign out pop up
  popup.js
  styles.css
Due: test-parser

fix sign out popoup
  popup.html
  popup.js
  styles.css
Due: test-parser

improve dark mode
  options.html
  options.js
  styles.css
Due: none

fix saving
  options.html
  options.js
Due: none

simplified description
  docs/CHROME_STORE_DESCRIPTION.md
Due: none

bump version
  .pre-commit-config.yaml
  docs/CHROME_STORE_DESCRIPTION.md
  manifest.json
Due: validate-manifest

add options
  manifest.json
  options.css
  options.html
  options.js
Due: validate-manifest

improve promo tile
  scripts/screenshot/screenshot-helper.html
Due: none

add UTM for donation buttons
  options.html
  options.js
Due: none

fix error
  theme.js
Due: none

filter writable calendars
  background.js
Due: test-parser

improve SEO
  docs/iCalendar/index.html
  docs/iCalendar/sitemap.xml
  docs/robots.txt
  scripts/screenshot/README.md
Due: none

change default to system
  options.js
  theme.js
Due: none

bump version
  docs/CHROME_STORE_DESCRIPTION.md
  manifest.json
Due: validate-manifest

move to src directory
  .pre-commit-config.yaml
  README.md
  scripts/build_release.sh
  scripts/screenshot/screenshot-helper.html
  src/background.js
  src/images/logo_120x120.png
  src/images/logo_128x128.png
  src/images/logo_256x256.png
  src/images/logo_32x32.png
  src/images/logo_512x512.png
  src/images/logo_64x64.png
  src/images/logo_large.png
  src/images/screenshots/icalendar-promo-banner-2025-10-22T15-26-40.png
  src/images/screenshots/icalendar-promo-tile-2025-10-22T15-26-36.png
  src/images/screenshots/icalendar-screenshot-2025-10-22T15-25-22.png
  src/images/screenshots/icalendar-screenshot-2025-10-22T15-25-40.png
  src/images/screenshots/icalendar-screenshot-2025-10-22T15-25-47.png
  src/images/screenshots/icalendar-screenshot-2025-10-22T15-25-56.png
  src/manifest.json
  src/options.html
  src/options.js
  src/parser.js
  src/popup.html
  src/popup.js
  src/styles.css
  src/theme.js
  tests/test_parser.js
Due: validate-manifest, test-parser

simplify release script
  scripts/build_release.sh
  scripts/screenshot/release/icalendar-promo-banner-2025-10-22T15-26-40.png
  scripts/screenshot/release/icalendar-promo-tile-2025-10-22T15-26-36.png
  scripts/screenshot/release/icalendar-screenshot-2025-10-22T15-25-22.png
  scripts/screenshot/release/icalendar-screenshot-2025-10-22T15-25-40.png
  scripts/screenshot/release/icalendar-screenshot-2025-10-22T15-25-47.png
  scripts/screenshot/release/icalendar-screenshot-2025-10-22T15-25-56.png
Due: none

restructure last fixes
  CONTRIBUTING.md
  README.md
  scripts/SETUP.md
  scripts/TROUBLESHOOTING.md
  scripts/create_git_tag.sh
  scripts/generate_extension_key.sh
Due: none

fix action
  .github/workflows/test-and-release.yml
Due: none

build docs only when docs changes
  .github/workflows/deploy-docs.yml
Due: none

cleanup images
  images/logo_large.png
  scripts/build_release.sh
  src/images/logo_120x120.png
  src/images/logo_16x16.png
  src/images/logo_48x48.png
  src/manifest.json
Due: validate-manifest

cleanup 512x512 image
  images/logo_512x512.png
  scripts/screenshot/screenshot-helper.html
  src/images/logo_256x256.png
  src/manifest.json
  src/popup.html
Due: validate-manifest

bump version
  src/manifest.json
Due: validate-manifest

fix screenshot
  scripts/screenshot/release/icalendar-promo-tile-2025-10-29T06-33-38.png
  scripts/screenshot/screenshot-helper.html
Due: none

trying to fix safe warning on extension
  docs/CHROME_STORE_DESCRIPTION.md
  src/manifest.json
Due: validate-manifest

change domain
  .pre-commit-config.yaml
  docs/CNAME
  docs/iCalendar/index.html
  docs/index.html
  docs/logo_512x512.png
  docs/privacy-policy/index.html
  docs/robots.txt
  docs/scripts/footer.js
  docs/scripts/header.js
  docs/sitemap.xml
  docs/styles/common.css
  docs/styles/landing.css
  docs/styles/legal.css
  docs/styles/privacy.css
  docs/styles/terms.css
  docs/terms-of-service/index.html
  scripts/CHROME_STORE_DESCRIPTION.md
  src/manifest.json
Due: validate-manifest

improve website
  README.md
  docs/index.html
  docs/privacy-policy/index.html
  docs/scripts/analytics.js
  docs/sitemap.xml
  docs/terms-of-service/index.html
  scripts/CHROME_STORE_DESCRIPTION.md
Due: none

compress logo
  docs/icalendar.png
  docs/index.html
  docs/logo_512x512.png
  docs/scripts/header.js
Due: none

improve speeds
  docs/index.html
  docs/privacy-policy/index.html
  docs/terms-of-service/index.html
Due: none

juse jekyll
  docs/_includes/footer.html
  docs/_includes/header.html
  docs/index.html
  docs/privacy-policy/index.html
  docs/terms-of-service/index.html
Due: none

remove .nojekyll
  .nojekyll
Due: none

add jekyl config
  docs/_config.yml
Due: none

fix workflow for jeklyn
  .github/workflows/deploy-docs.yml
  docs/.gitignore
  docs/Gemfile
Due: none

fix
  docs/Gemfile
Due: none

fix?
  .github/workflows/deploy-docs.yml
Due: none

Path conditions:
  validate-manifest: any of: manifest\.json$
  test-parser: any of: (popup\.js|background\.js|tests/test_parser\.js|tests/data/.*\.(ics|vcs))$
